.flat-plan.clearfix{anchor: '2460'}
  %a{href: '/images/plans/24-60.png', 'data-lightbox' => 'plan2460'}
    .image.p2460
  .chars
    .name Характеристики

    %table
      %tr
        %td
          Жилая зона
        %td
          17.70 кв. м.

      %tr
        %td
          Прихожая
        %td
          2.20 кв. м.

      %tr
        %td
          Ванная и с/y
        %td
          4.00 кв. м.

      %tr
        %td
          Балкон
        %td
          2.30 кв. м.
  .prices
    .price
      .label
        Стоимость квадратного метра
      .number
        33 500
        %small рублей

    .price
      .label
        Стоимость данной квартиры
      .number
        824 100
        %small рублей


    .ololo
      * Площадь балкона рассчитана с
      коэффицентом 0.3

    .button.rent-button Забронировать