.flat-plan.clearfix{anchor: '2320'}
  %a{href: '/images/plans/23-20.png', 'data-lightbox' => 'plan2320'}
    .image.p2320
  .chars
    .name Характеристики

    %table
      %tr
        %td
          Жилая зона
        %td
          16.20 кв. м.

      %tr
        %td
          Прихожая
        %td
          3.00 кв. м.

      %tr
        %td
          Ванная и с/y
        %td
          3.30 кв. м.

      %tr
        %td
          Балкон
        %td
          2.30 кв. м.
  .prices
    .price
      .label
        Стоимость квадратного метра
      .number
        33 500
        %small рублей

    .price
      .label
        Стоимость данной квартиры
      .number
        777 200
        %small рублей


    .ololo
      * Площадь балкона рассчитана с
      коэффицентом 0.3

    .button.rent-button Забронировать