.flat-plan.clearfix{anchor: '2650'}
  %a{href: '/images/plans/26-50.png', 'data-lightbox' => 'plan2650'}
    .image.p2650
  .chars
    .name Характеристики

    %table
      %tr
        %td
          Жилая зона
        %td
          17.80 кв. м.

      %tr
        %td
          Прихожая
        %td
          3.60 кв. м.

      %tr
        %td
          Ванная и с/y
        %td
          3.80 кв. м.

      %tr
        %td
          Балкон
        %td
          4.30 кв. м.
  .prices
    .price
      .label
        Стоимость квадратного метра
      .number
        33 500
        %small рублей

    .price
      .label
        Стоимость данной квартиры
      .number
        887 750
        %small рублей


    .ololo
      * Площадь балкона рассчитана с
      коэффицентом 0.3

    .button.rent-button Забронировать